In [17]:
#split names - in data wrangling
df_names = pd.read_csv('names.csv')
df_names

                Name
0  Shankar Natarajan
1         Bill Gates
2      Satya Nadella
3      Sundar Pichai
4      Narendra Modi
5       Donald Trump

In [29]:
df_names['First'] = df_names['Name'].str.split(' ').str[0]
df_names['Last'] = df_names['Name'].str.split(' ') .str[1]

In [33]:
df_names['FullName'] = df_names['First'] + "-" +  df_names['Last']
df_names

                Name     First       Last           FullName
0  Shankar Natarajan   Shankar  Natarajan  Shankar-Natarajan
1         Bill Gates      Bill      Gates         Bill-Gates
2      Satya Nadella     Satya    Nadella      Satya-Nadella
3      Sundar Pichai    Sundar     Pichai      Sundar-Pichai
4      Narendra Modi  Narendra       Modi      Narendra-Modi
5       Donald Trump    Donald      Trump       Donald-Trump

In [39]:
df_names

In [34]:
#Regex and Pandas

import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [36]:
#Get the rows has appointment only
df[df['text'].str.contains('appointment')]

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...

In [56]:
#find number of rows that has appointment - could be interesting number to get as well
len(df[df['text'].str.contains('appointment')])

2

In [50]:
#extract the time
df['time'] = df['text'].str.extract(r'(\d?\d:\d\d\s?[a-z]{2})')

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [51]:
df

                                                text      time
0     Monday: The doctor's appointment is at 2:45pm.    2:45pm
1  Tuesday: The dentist's appointment is at 11:30...  11:30 am
2  Wednesday: At 7:00pm, there is a basketball game!    7:00pm
3  Thursday: Be back home by 11:15 pm at the latest.  11:15 pm
4  Friday: Take the train at 08:10 am, arrive at ...  08:10 am

In [52]:
df['numlen'] = df['text'].str.count(r'\d')

In [53]:
df

                                                text      time  numlen
0     Monday: The doctor's appointment is at 2:45pm.    2:45pm       3
1  Tuesday: The dentist's appointment is at 11:30...  11:30 am       4
2  Wednesday: At 7:00pm, there is a basketball game!    7:00pm       3
3  Thursday: Be back home by 11:15 pm at the latest.  11:15 pm       4
4  Friday: Take the train at 08:10 am, arrive at ...  08:10 am       8

In [60]:
#dealing with json and wrangling
df_json = pd.read_json('https://api.github.com/repos/pydata/pandas/issues?per_page=5')

In [61]:
df_json

,assignee,assignees,author_association,body,closed_at,comments,comments_url,created_at,events_url,html_url,...,locked,milestone,number,pull_request,repository_url,state,title,updated_at,url,user
0,NaN,[],NONE,"#### Code Sample, a copy-pastable example if p...",NaT,0,https://api.github.com/repos/pandas-dev/pandas...,2017-12-10 10:49:19,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/18712,...,False,NaN,18712,NaN,https://api.github.com/repos/pandas-dev/pandas,open,pivot_table - fix documentation of aggfunc par...,2017-12-10 10:51:30,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'stefansimik', 'id': 6208056, 'avata..."
1,NaN,[],NONE,#### Sample code\r\n\r\n```python\r\nimport pa...,NaT,0,https://api.github.com/repos/pandas-dev/pandas...,2017-12-10 10:37:31,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/18711,...,False,NaN,18711,NaN,https://api.github.com/repos/pandas-dev/pandas,open,"pivot_table fails on exception, when margins=True",2017-12-10 10:37:31,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'stefansimik', 'id': 6208056, 'avata..."
2,NaN,[],CONTRIBUTOR,- [X] closes #10696\r\n- [X] closes #18593\r\n...,NaT,1,https://api.github.com/repos/pandas-dev/pandas...,2017-12-10 05:07:27,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/18710,...,False,NaN,18710,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas,open,BUG: Fix Series.astype and Categorical.astype ...,2017-12-10 05:44:18,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jschendel', 'id': 5332445, 'avatar_..."
3,NaN,[],CONTRIBUTOR,See the comment attached to `test_to_datetime_...,NaT,2,https://api.github.com/repos/pandas-dev/pandas...,2017-12-10 03:11:12,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/18709,...,False,NaN,18709,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas,open,"fix change in 18666, add tests",2017-12-10 04:36:23,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jbrockmendel', 'id': 8078968, 'avat..."
4,NaN,[],CONTRIBUTOR,- [x] closes #7687\r\n- [x] tests added / pass...,NaT,2,https://api.github.com/repos/pandas-dev/pandas...,2017-12-10 02:49:40,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/18708,...,False,NaN,18708,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas,open,BUG: Fix resample with np.timedelta64 loffset ...,2017-12-10 04:09:43,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'Licht-T', 'id': 1455030, 'avatar_ur..."

In [72]:
from pandas.io.json import json_normalize
#converts a list of JSON into Dataframe
df_new = json_normalize(list(df_json['user']))

In [81]:
for columns in df_new.columns:
    df_json[columns] = df_new[columns]

In [82]:
df_json

,assignee,assignees,author_association,body,closed_at,comments,comments_url,created_at,events_url,html_url,...,gists_url,gravatar_id,login,organizations_url,received_events_url,repos_url,site_admin,starred_url,subscriptions_url,type
0,NaN,[],NONE,"#### Code Sample, a copy-pastable example if p...",NaT,0,https://api.github.com/repos/pandas-dev/pandas...,2017-12-10 10:49:19,https://api.github.com/users/stefansimik/event...,https://github.com/stefansimik,...,https://api.github.com/users/stefansimik/gists...,,stefansimik,https://api.github.com/users/stefansimik/orgs,https://api.github.com/users/stefansimik/recei...,https://api.github.com/users/stefansimik/repos,False,https://api.github.com/users/stefansimik/starr...,https://api.github.com/users/stefansimik/subsc...,User
1,NaN,[],NONE,#### Sample code\r\n\r\n```python\r\nimport pa...,NaT,0,https://api.github.com/repos/pandas-dev/pandas...,2017-12-10 10:37:31,https://api.github.com/users/stefansimik/event...,https://github.com/stefansimik,...,https://api.github.com/users/stefansimik/gists...,,stefansimik,https://api.github.com/users/stefansimik/orgs,https://api.github.com/users/stefansimik/recei...,https://api.github.com/users/stefansimik/repos,False,https://api.github.com/users/stefansimik/starr...,https://api.github.com/users/stefansimik/subsc...,User
2,NaN,[],CONTRIBUTOR,- [X] closes #10696\r\n- [X] closes #18593\r\n...,NaT,1,https://api.github.com/repos/pandas-dev/pandas...,2017-12-10 05:07:27,https://api.github.com/users/jschendel/events{...,https://github.com/jschendel,...,https://api.github.com/users/jschendel/gists{/...,,jschendel,https://api.github.com/users/jschendel/orgs,https://api.github.com/users/jschendel/receive...,https://api.github.com/users/jschendel/repos,False,https://api.github.com/users/jschendel/starred...,https://api.github.com/users/jschendel/subscri...,User
3,NaN,[],CONTRIBUTOR,See the comment attached to `test_to_datetime_...,NaT,2,https://api.github.com/repos/pandas-dev/pandas...,2017-12-10 03:11:12,https://api.github.com/users/jbrockmendel/even...,https://github.com/jbrockmendel,...,https://api.github.com/users/jbrockmendel/gist...,,jbrockmendel,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/rece...,https://api.github.com/users/jbrockmendel/repos,False,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,User
4,NaN,[],CONTRIBUTOR,- [x] closes #7687\r\n- [x] tests added / pass...,NaT,2,https://api.github.com/repos/pandas-dev/pandas...,2017-12-10 02:49:40,https://api.github.com/users/Licht-T/events{/p...,https://github.com/Licht-T,...,https://api.github.com/users/Licht-T/gists{/gi...,,Licht-T,https://api.github.com/users/Licht-T/orgs,https://api.github.com/users/Licht-T/received_...,https://api.github.com/users/Licht-T/repos,False,https://api.github.com/users/Licht-T/starred{/...,https://api.github.com/users/Licht-T/subscript...,User