In [1]:
import pandas as pd

india_weather = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})
india_weather

       city  humidity  temperature
0    mumbai        80           32
1     delhi        60           45
2  banglore        78           30

In [2]:
us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})
us_weather

       city  humidity  temperature
0  new york        68           21
1   chicago        65           14
2   orlando        75           35

In [4]:
pd.concat([india_weather, us_weather])

       city  humidity  temperature
0    mumbai        80           32
1     delhi        60           45
2  banglore        78           30
0  new york        68           21
1   chicago        65           14
2   orlando        75           35

In [5]:
#Merge is similar to join

import pandas as pd
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
})
df1

       city  temperature
0  new york           21
1   chicago           14
2   orlando           35

In [6]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75],
})
df2

       city  humidity
0   chicago        65
1  new york        68
2   orlando        75

In [7]:
df3 = pd.merge(df1, df2, on="city")
df3

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [ ]:
#how = inner ; how = outer; how=left how = right