In [2]:
import pandas as pd
df = pd.read_csv("weather_by_cities.csv")

In [3]:
df.head()

        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
4  1/1/2017    mumbai           90          5  Sunny

In [4]:
len(df)

12

In [7]:
gp  = df.groupby('city')

In [13]:
#to get vital stats per group
for city, data in gp:
    print(city, sum(data.temperature), sum(data.temperature)/len(data))

mumbai 354 88.5
new york 129 32.25
paris 191 47.75

In [24]:
import numpy as np
df.pivot_table(index='city',columns='event',values="temperature",aggfunc=np.sum)

event     Cloudy    Fog  Rain  Snow  Sunny
city
mumbai       NaN  172.0  92.0   NaN   90.0
new york     NaN    NaN  32.0  28.0   69.0
paris      146.0    NaN   NaN   NaN   45.0