In [1]:
import pandas as pd

df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [2]:
#selecting based on criteria
df.loc[df['AAA'] >5]

   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50

In [3]:
#changing the value of a column ; based on criteria - similar to if-then
df.loc[df['AAA'] >5, 'BBB'] = 45

In [4]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   45  -30
3    7   45  -50

In [5]:
#change value of two columns
df.loc[df['AAA'] >5, ['BBB','CCC']] = 55

In [6]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   55   55
3    7   55   55

In [7]:
#ifthenelse - if AAA > 5; then high else low
import numpy as np

df['output'] = np.where(df['AAA'] > 5, 'high', 'low')

In [8]:
df

   AAA  BBB  CCC output
0    4   10  100    low
1    5   20   50    low
2    6   55   55   high
3    7   55   55   high